
.edit-student-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-student-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #6a0dad;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #6a0dad;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    outline: none;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .form-group input:focus {
    border-color: #6a0dad;
    box-shadow: 0 3px 10px rgba(106, 77, 155, 0.3);
    background-color: #fff;
  }
  
  /* Nút */
  button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #6a0dad;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #531087;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #d9534f;
    margin-bottom: 15px;
    text-align: center;
    font-size: 0.9rem;
  }
  .filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filters select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .filters select:focus {
    border-color: #6a4c93;
  }
  